<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head" />
<body>

<nav th:replace="partials :: navbar" />
    <h1>Roll Dice!!!!</h1>
    <hr />
    <br />
    <h2>The random number is: <span th:text="${randomNum}" /></h2>
    <h2>Your guess is: <span th:text="${n}"/></h2>
    <br />
    <h1><span th:if="${randomNum == n}" />Your guess is correct!!!</h1>
    <br />
    <h1><span th:if="${randomNum != n}" />Sorry!!!! Your wrong </h1>



    <!--<ul>-->
        <!--<li><a href="roll-dice/1">1</a></li>-->
        <!--<li><a href="roll-dice/2">2</a></li>-->
        <!--<li><a href="roll-dice/3">3</a></li>-->
        <!--<li><a href="roll-dice/4">4</a></li>-->
        <!--<li><a href="roll-dice/5">5</a></li>-->
        <!--<li><a href="roll-dice/6">6</a></li>-->
    <!--</ul>-->

<div th:replace="partials :: scripts" />
</body>
</html>